/* Main */

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Viga', sans-serif;

}


body {

    background: rgb(0, 0, 0);

    width: 100%;

}

h1 {

    color: white;

    font-size: 2.5rem;

    text-align: center;

}

h2 {

    color: white;

    font-size: 2rem;

    text-align: left;

    padding-left: 20px;

}

p {

    color: white;

    font-size: 1.5rem;

    text-align: left;

    padding: 10px;

}

/* Other */

.background {

    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(25, 25, 25) 0%, rgba(0,0,0) 100%);

    max-width: 100%;
    min-height: 100vh;

}

.text-holder {

    background-color: rgb(0, 0, 0);

    border-radius: 1rem;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    max-width: 99%;
    width: 50rem;
    min-width: 72%;
    height: fit-content;

    padding: 20px;

    margin: 20px auto;

}

/* NavBar */ 

nav {

    background-color: rgb(0, 0, 0);

    border-radius: 1.5rem;

    height: 4rem;
    width: 98%;

}

.nav_left{

    display: flex;

    position: relative;

    top: 20%;

    left: 25px;

}

.nav_left img {

    max-width: 4rem;

    transition: 0.4;

}

.nav_right{

    max-width: 85%;

    display: flex;

    position: relative;

    top: -40%;
    right: 10px;

    float: right;

    justify-content: space-between;

}

.nav_right a {

    color: white;
    font-size: 100%;

    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 0px;

    font-family: 'Changa', sans-serif;

}

.nav_right a:hover {

    color: aqua;

    transform: scale(1.1);

}