/* Main */

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body {

    background: rgb(0, 0, 0);

}

.background {

    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(21, 21, 21) 0%, rgba(0,0,0) 100%);

    width: 100%;
    min-height: 100vh;

}

button {

    color: rgb(0, 0, 0);

    font-size: 1.3rem;
    font-weight: 700;

    background-color: rgb(255, 255, 255);

    height: 2.5rem;
    width: 12rem;

    border-radius: 1rem;
    border: none;

    display: block;

    margin-left: auto;
    margin-right: auto;

    transition: 0.3s;

}

button:hover {

    transform: scale(1.1);

}

.text {

    color: white;

    font-family: 'Viga', sans-serif;

    text-align: center;

}

.text2 {

    color: white;

    font-family: 'Lexend', sans-serif;

    text-align: left;

    padding-left: 1rem;

}

.text3 {

    color: white;

    background-color: white;

    border-radius: 1rem;

    font-family: 'Viga', sans-serif;

    display: table; /* keep the background color wrapped tight */
    margin: 0px auto 0px auto; /* keep the table centered */

}

/*Image Auto */

.image_auto1 {

    background-color: rgb(24, 24, 24);

    border-radius: 1rem;

    height: 12rem;
    width: 70%;

    display: block;
    margin-left: auto;
    margin-right: auto;

}

/* Item Box's */

.selectionbox {
    background-color: rgb(20, 20, 20);
    border-radius: 1rem;
    width: 21rem;
    height: 21rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    transition: all 0.5s ease;
  }

  .selectionbox:hover {
    transform: scale(1.1);
    background-color: rgb(0, 102, 255);
    transition: all 0.5s ease;
  }

  .selectionbox a {
    color: transparent;
  }

  #selectionimage {
    height: 15.5rem;
    width: 20rem;
    object-fit: cover;
    margin: auto;
    display: block;
    border-radius: 1.3rem;
    overflow: hidden;
  }

/* Search Bar */

#searchBar {

    width: 95%;
    height: 2.3rem;

    border: none;

    padding: 5px 10px;

    font-size: 12px;

    background-color: #111111;
    color: white;
}

#searchWrapper {
    position: relative;
    text-align: center;
}

/* List */

.list {

    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 30px;

}

#list {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 30px;
  }

/* Boxes */

.box {

    background: rgb(0, 0, 0);

    border-radius: 1rem;

    max-width: 85%;
    max-height: fit-content;

    min-width: none;
    min-height: fit-content;

    display: block;

    margin-left: auto;
    margin-right: auto;

    overflow: hidden;

    text-align: center;

}

.box-wide-blue {

    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,184,255,1) 100%);

    border-radius: 1rem;

    max-width: 85%;
    max-height: fit-content;

    min-width: none;
    min-height: fit-content;

    display: block;

    margin-left: auto;
    margin-right: auto;

}

.box-wide-information {

    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(24, 24, 24) 100%);

    border-radius: 1rem;

    max-width: 85%;
    max-height: fit-content;

    min-width: none;
    min-height: fit-content;

    display: block;

    margin-left: auto;
    margin-right: auto;

}

.box-wide-blue-white {

    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(0,184,255,1) 100%);

    border-radius: 1rem;

    max-width: 85%;
    max-height: fit-content;

    min-width: none;
    min-height: fit-content;

    display: block;

    margin-left: auto;
    margin-right: auto;

}

.box-wide-red {

    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255,0,0,1) 100%);

    border-radius: 1rem;

    max-width: 85%;
    max-height: fit-content;

    min-width: none;
    min-height: fit-content;

    display: block;

    margin-left: auto;
    margin-right: auto;

}

/* NavBar */ 

nav {

    background-color: rgb(0, 0, 0);

    border-radius: 1.5rem;

    height: 4rem;
    width: 98%;

}

.nav_left{

    display: flex;

    position: relative;

    top: 20%;

    left: 25px;

}

.nav_left img {

    max-width: 4rem;

    transition: 0.4;

}

.nav_right{

    display: flex;

    position: relative;

    top: -40%;
    right: 25px;

    float: right;

    justify-content: space-between;

}

.nav_right a {

    color: white;
    font-size: 1.2rem;

    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 8px;

    font-family: 'Changa', sans-serif;

}

.nav_right a:hover {

    color: aqua;

    transform: scale(1.1);

}